$alertBorder: rgba(255, 25, 0 , 0.322);
$alertBg: rgb(192, 29, 29, 0.15);


$successBorder: rgba(33, 253, 13, 0.322);
$successBg: rgba(17, 236, 28, 0.15);


@mixin alert($name, $border, $bgColor) {
    .#{$name} {
            border: 2px dotted $border;
            border-radius: 0.8rem;
            padding: 1.3rem;
            background-color: $bgColor;
            color: white;
            margin: 20px;
    
            .alert-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .title {
                    display: flex;
                    align-items: center;
                    padding: 1px;
    
                    h4 {
                        padding-left: 15px;
                    }
                }
            }
    
            p {
                margin-top: 1.2 rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-top: 1.2rem;
            }
        }
}

@include alert("alert-danger", $alertBorder, $alertBg);

@include alert("alert-successs", $successBorder, $successBg);